.font {
  font-family: Arial, Helvetica, sans-serif;
}

a:visited {
  color: blue;
}

h2 {
  cursor: default;
  margin-top: 0px;
  color: royalblue;
}

.center {
  text-align: center;
  margin: 0 auto;
  width: 650px;
}

.left {
  width: 49%;
  float: left;
}

.right {
  width: 49%;
  float: right;
}

.catalogueList {
  margin-top: 20px;
  text-align: left;
}

.button {
  width: 100%;
  background-color: royalblue;
  border: 2px solid white;
  border-radius: 2px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.addButton {
  background-color: forestgreen;
  width: 49.5%;
  cursor: pointer;
}

.addButton:hover {
  color: forestgreen;
  background-color: white;
  border: 2px solid forestgreen;
  width: 49.5%;
}

.cancelButton {
  background-color: lightgray;
  color: black;
  width: 49.5%;
  cursor: pointer;
}

.cancelButton:hover {
  color: black;
  background-color: white;
  border: 2px solid grey;
  width: 49.5%;
}

.addCatalogueButton {
  display: inline-block;
  background-color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  background-image: url("../media/plus.png");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
}

.addCatalogueInput {
  display: none;
  text-align: left;
  margin-top: 30px;
  cursor: default;
}

.addCatalogueFields input {
  font-size: 14px;
  border: 1px solid black;
  padding: 5px;
  margin-top: 2px;
  width: 98%;
}

.addCatalogueType {
  text-align: left;
}

.addCatalogueCheckboxes label {
  font-size: 15px;
  cursor: pointer;
}

.addCatalogueCheckboxes input {
  margin-top: 10px;
  margin-bottom: 20px;
  scale: 1.2;
  cursor: pointer;
}

.descriptionTextarea {
  height: 5em;
  width: 98%;
  font-size: 14px;
  padding: 5px;
  border: 1px solid black;
  resize: none;
}

.statusText {
  margin-top: 50px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  text-align: left;
  font-size: 14px;
}

.catalogueListContent {
  cursor: default;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
}

.catalogueListCollapsible {
  background-color: royalblue;
  color: white;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.catalogueListCollapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
