.font {
  font-family: Arial, Helvetica, sans-serif;
}

a:visited {
  color: blue;
}

h2 {
  margin-top: 0px;
  color: royalblue;
}

.center {
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

.left {
  width: 49%;
  float: left;
}

.right {
  width: 49%;
  float: right;
}

.catalogueList {
  text-align: left;
}

.button {
  width: 100%;
  transition-duration: 0.3s;
  background-color: royalblue;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.addCatalogueFields {
  text-align: left;
}

.addCatalogueFields input {
  border: 1px solid black;
  padding: 2px;
  width: 98%;
}

.addCatalogueCheckboxes {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 20px;
}

.descriptionTextarea {
  padding: 2px;
  border: 1px solid black;
  resize: none;
}

.statusText {
  clear: both;
  height: 2em;
  text-align: left;
  font-size: 14px;
  margin-top: 380px;
}

.red {
  color: firebrick;
}

.green {
  color: forestgreen;
}
