.font {
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.left {
    padding-left: 9%;
    width: 40%;
    float: left;
}

.right {
    padding-right: 9%;
    width: 40%;
    float: right;
}

.searchBar {
    width: 80%;
    padding: 4px;
    padding-left: 8px;
    border-radius: 8px;
    border-style: groove;
    font-size: medium;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button {
    width: 100%;
    transition-duration: 0.3s;
    background-color: royalblue;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.addCatalogueFields {
    width: 100%;
    text-align: left;
}

.addCatalogueFields input {
    float: right;
}

.catalogueList {
    width: 100%;
    text-align: left;
}

.statusText {
    padding-top: 5px;
    font-size: 14px;
}

.red {
    color: firebrick;
}

.green {
    color: forestgreen;
}